@import './variables.module.scss';

.wrapper {
  border: 1px solid #e5e5ea;
  padding: 12px 0;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  max-width: $calendar-width;
  padding: 4px 15px 12px 15px;
}

.day {
  padding: 2px;
  text-align: center;
  font-size: 12px;
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  &:hover {
    background-color: #cce9ff;
  }
}

.dayInRange {
  background-color: #cce9ff;
}

.startOrEndDay {
  background-color: #3498ff;
  color: white;
  &:hover {
    background-color: #3498ff;
  }
}

.dayFromPreviousMonth {
  border: none;
  cursor: initial;
}

.disabledDay {
  color: #c5c6c7;
  cursor: initial;
  &:hover {
    background-color: none;
  }
}

.today {
  border: 1px solid #3498ff;
}